.title{
    border-radius: 10px;
    font-family: Montserrat;

}
body {
    font-family: Montserrat;
    background-color:rgb(192, 145, 236);
}
.form_block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;

}
.btn{
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #7d339d;
    color: aliceblue;
    border-radius: 6px;
    font-family: Montserrat;
}
.link_back{
    font-size: 30px;
    color:  #724eb6;
    font-weight: 800;
    text-decoration: none;
}